<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <h1>Your Uploaded File Data</h1>

    <ul>
        <% for(const data of fileData){ %>
            <li>
                <%= data %>
            </li>
        <%}%>
    </ul>

    <!-- <button><a href="/home"></a>Home</button> -->
</body>
</html>