<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <h1>Your Uploaded File Data</h1>

    <table border="2">
        <tr>
            <% for(const head of headers) { %>
                <th><%= head %></th>
            <%}%>
        </tr>
        <% for(const data of fileData) { %>
            <tr>
                <% for(const value of data) { %>
                    <td><%= value %></td>
                <%}%>
            </tr>
        <%}%>
    </table>

    <button><a href="/">Home</a></button>
</body>
</html>